<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dnl="http://www.sayno.win/schema/property"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.sayno.win/schema/property http://www.sayno.win/schema/property.xsd">
    <!-- 自定义标签 -->
    <dnl:property id="myProperty" name="sayno" value="sayno.win"/>

    <!-- BeanFactoryAware -->
    <bean class="win.sayno.aware.MyBeanFactoryAware"/>
    
    <!-- BeanFactoryPostProcessor -->
    <bean class="win.sayno.processor.MyBeanPostProcessor" scope="singleton"/>
    
    <!-- OrderBeanPostProcessor -->
    <bean class="win.sayno.processor.MyOrderBeanPostProcessor"/>
    
    <!-- SmartInstantiationAwareBeanPostProcessor -->
    <bean class="win.sayno.processor.MySmartInstantiationAwareBeanPostProcessor"/>
    
    <!-- InstantiationAwareBeanPostProcessor -->
    <bean class="win.sayno.processor.MyInstantiationAwareBeanPostProcessor"/>
    
    <!-- FactoryBean -->
    <bean id="factoryBean" class="win.sayno.factorybean.MyFactoryBean" scope="singleton"/>
    
        
    <!-- Depend-On -->
    <bean id="bean" class="win.sayno.dependon.Bean" factory-bean="factoryBean" factory-method="getDependOnBean">
        <constructor-arg value="1" index="0"/>
    </bean>
    
    <!-- service -->
    <bean id="myService" class="win.sayno.service.MyService" init-method="init" scope="singleton" depends-on="bean">
        <property name="person" value="sayno.win,昌平-北京-北京"></property>
    </bean>
    
    <!-- controller -->
    <bean id="myController" class="win.sayno.controller.MyController" scope="singleton" factory-method="getController">
        <property name="myService" ref="myService"/>
    </bean>
    
    <!-- message -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="message/resource"/>
    </bean>

    <!-- parent -->
    <bean id="parentBean" class="win.sayno.parent.ParentBean">
       <property name="desc" value="win.sayno.parent.ParentBean"/>
    </bean>
    
    <bean id="childBean1" parent="parentBean">
       <property name="name" value="sayno.win"></property>
       <property name="value" value="sayno.win"></property>
    </bean>
    
    <bean id="childBean2" parent="parentBean">
       <property name="name" value="sayno.site"></property>
       <property name="value" value="sayno.site"></property>
    </bean>
    
    <bean id="childBean3" parent="parentBean">
       <property name="name" value="sayno.blog"></property>
       <property name="value" value="sayno.blog"></property>
    </bean>
    
    <bean name="person" class="win.sayno.entity.Person">
        <property name="name" value="SayNo"/>
        <property name="address" value="北京-北京-昌平" />
    </bean>
    <!-- custom PropertyEditorSupport -->
    <bean id="customEditorConfigurer"
        class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="win.sayno.entity.Address" value="win.sayno.editor.AddressPropertyEditorSupport">
                </entry>
            </map>
        </property>
    </bean>
    
    <!-- applicationListener -->
    <bean class="win.sayno.listener.MyApplicationListener"/>
    
    <!-- convert -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="win.sayno.convert.PersonConverter"/>
            </set>
        </property>
    </bean>
    
    <!-- circularreference -->
    <bean name="beanB" class="win.sayno.circularreference.BeanB">
        <property name="beanA" ref="beanA"></property>
    </bean>
    <bean name="beanA" class="win.sayno.circularreference.BeanA">
        <property name="beanB" ref="beanB"></property>
    </bean>
    
    <!-- 普通单例bean -->
    <bean class="win.sayno.singleton.SingletonBean" init-method="init"/>
</beans>